<div>
  {{> button class="lol" buttonText="button" }}
  {{> accentButton class="kek" buttonText="accentButton" }}
  {{#> label for="lol" class="kek label" title="nester title"}}
    {{>input placeholder="placds"}}
  {{/label}}
</div>